@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  text-align: center;
  color: #7c7c7c;
  line-height: 1.6;
  background-color: #fff;
  font-size: 1.4rem;
  word-wrap: break-word;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/*-----リンクの設定----- */
a {
  color: #7c7c7c;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  a:hover {
    color: #fff;
    text-decoration: none; }

ul {
  list-style: none; }

img {
  vertical-align: middle;
  border: none; }

button {
  border-style: none; }

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

button:focus, div:focus, img:focus, a:focus {
  outline: none; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  -moz-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  box-shadow: 0 0 0px 1000px #f9f9f9 inset; }

/* Tablet Portrait */
@media (max-width: 1024px) {
  body {
    font-size: 1.4rem; } }
/* Mobile Portrait */
@media (max-width: 768px) {
  body {
    font-size: 1.2rem; } }
.l-bg {
  width: 50%;
  height: 550px;
  repeat: no-repeat; }
  .l-bg--left {
    position: relative;
    background-position: left top; }
  .l-bg--right {
    position: absolute;
    right: 0;
    background-position: center top; }
  .l-bg--top {
    width: 100%;
    height: 540px;
    background-color: #fbfbfb;
    background-image: url("../../images/top_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat; }
  .l-bg--overview, .l-bg--userGroup {
    background-color: #5ed9db; }
  .l-bg--feature, .l-bg--userStudent, .l-bg--footer {
    background-color: #fff; }
  .l-bg--serviceDetail {
    background-color: #f9f8f3; }
  .l-bg--theme {
    background-image: url("../../images/theme_bg.png");
    background-repeat: repeat none; }
  .l-bg--spot {
    background-image: url("../../images/spot_bg.jpg"); }
  .l-bg--regular {
    background-image: url("../../images/regular_bg.jpg"); }
  .l-bg--recruit {
    background-image: url("../../images/recruit_bg.jpg"); }
  .l-bg--bottom {
    width: 100%;
    height: 540px;
    background-color: #fbfbfb;
    background-image: url("../../images/bottom_bg.png");
    background-position: center top;
    background-repeat: repeat none; }

.l-content {
  max-width: 980px;
  margin: 0 auto; }
  .l-content--half {
    padding-left: 30px;
    padding-right: 30px; }
  .l-content--sectionMd {
    padding-top: 40px;
    padding-bottom: 40px; }
  .l-content--sectionLarge {
    padding-top: 60px;
    padding-bottom: 60px; }

.row {
  margin: 0; }

@media (max-width: 1024px) {
  .l-content {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; }
    .l-content--sectionMd {
      padding-top: 20px;
      padding-bottom: 20px; }
    .l-content--sectionLarge {
      padding-top: 30px;
      padding-bottom: 30px; } }
@media (max-width: 768px) {
  .l-content {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px; } }
.l-header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1; }
  .l-headerPc__logoImg {
    width: 110px; }
  .l-headerPc__menuItem {
    width: 130px; }
  .l-headerPc__menuLink {
    width: 100%;
    padding: 20px 0;
    display: inline-block; }
    .l-headerPc__menuLink:hover {
      color: #fff;
      background-color: #5ed9db; }

@media (max-width: 1024px) {
  .l-headerPc {
    width: 100%; }
    .l-headerPc__logo {
      width: 15%; }
    .l-headerPc__menu {
      width: 85%; }
      .l-headerPc__menuItem {
        width: 16%;
        font-size: 1.2rem; } }
.l-main {
  padding-top: 64px; }

.l-footer {
  color: #ccc; }
  .l-footer__toTop {
    border-top: solid 1px #ccc;
    height: 100px; }
    .l-footer__toTopBtnImg {
      width: 81px; }
  .l-footer__copyright {
    border-top: solid 1px #ccc; }
    .l-footer__copyrightText {
      font-size: 2rem;
      padding: 50px 0 65px; }

.c-btn--download {
  width: 134px;
  margin-top: 30px; }
.c-btn--headerDownload {
  display: inline-block;
  padding: 10px 0;
  width: 140px;
  font-size: 1.6rem;
  color: #666;
  background-color: #fce409;
  border-radius: 25px; }
  .c-btn--headerDownload:hover {
    opacity: 0.7; }

@media (max-width: 1024px) {
  .c-btn--headerDownload {
    display: inline-block;
    padding: 10px 0;
    width: 18%;
    font-size: 1.4rem; } }
.c-label {
  width: 300px; }
  .c-labelImg {
    width: 100%; }
  .c-label--service {
    width: 160px; }
  .c-label--spotUsageImg {
    position: absolute;
    width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -26px; }
  .c-label--userStudent {
    width: 420px; }

.c-title--md {
  font-size: 2.4rem;
  font-weight: bold;
  color: #0cb4b7;
  position: relative; }
.c-title--serviceDetail {
  font-size: 2.4rem;
  font-weight: bold;
  color: #0cb4b7;
  border: solid 2px;
  padding: 15px 0;
  width: 315px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 5px; }
  .c-title--serviceDetailOver {
    font-size: 1.4rem;
    background-color: #f9f8f3;
    position: absolute;
    top: -18%;
    left: 16%;
    font-weight: normal;
    color: #666;
    padding: 0 10px; }

.p-top__left {
  width: 50%;
  padding: 130px 0 140px; }
.p-top__slogan {
  font-size: 1.6rem;
  color: #7c7c7c; }
.p-top__logo {
  width: 339px;
  margin: 20px auto;
  margin-bottom: 0; }
  .p-top__logoImg {
    width: 100%; }
.p-top__download {
  width: 300px;
  margin: 0 auto; }
.p-top__label {
  width: 300px;
  margin: 30px auto 0; }
  .p-top__labelImg {
    width: 300px; }

@media (max-width: 768px) {
  .p-top__left {
    display: none; } }
.p-overview__topText {
  color: #fff;
  font-size: 3rem;
  padding: 0 35px; }
  .p-overview__topTextLarge {
    color: #fce409;
    font-size: 3.4rem;
    font-weight: bold; }
  .p-overview__topTextMobile {
    display: none; }
.p-overview__strong {
  width: 120px; }
  .p-overview__strongImg {
    width: 100%; }
.p-overview__balloon {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .p-overview__balloonImg {
    width: 400px;
    height: 100%; }
.p-overview__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .p-overview__bottomText {
    color: #fff;
    font-size: 2rem;
    padding: 0 23px; }
    .p-overview__bottomTextLarge {
      color: #fce409;
      font-size: 2.8rem; }
.p-overview__starImg {
  width: 50px; }
.p-overview__arrowDown {
  color: #fce409; }

@media (max-width: 1024px) {
  .p-overview__topText {
    font-size: 2.4rem; }
    .p-overview__topTextLarge {
      color: #fce409;
      font-size: 2.8rem; }
    .p-overview__topTextMobile {
      display: none; }
  .p-overview__strong {
    width: 80px; }
    .p-overview__strongImg {
      margin-top: 10px; }
  .p-overview__balloon {
    margin-top: 20px; }
    .p-overview__balloonImg {
      width: 40%;
      margin-top: 10px; }
  .p-overview__bottom {
    margin-top: 20px; }
    .p-overview__bottomText {
      color: #fff;
      font-size: 2rem;
      padding: 0 23px; }
      .p-overview__bottomTextLarge {
        color: #fce409;
        font-size: 2.8rem; }
  .p-overview__starImg {
    width: 50px; }
  .p-overview__arrowDown {
    color: #fce409; } }
.p-feature__itemList {
  margin: 30px auto 0px;
  width: 756px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.p-feature__img {
  width: 160px; }
.p-feature__point {
  margin-top: 50px; }
  .p-feature__pointDesc {
    margin-top: 10px; }
.p-feature__btnToBottom {
  margin-top: 20px;
  color: #0cb4b7; }

.p-serviceTop {
  color: #fff;
  padding: 80px 0;
  text-align: left;
  position: absolute;
  width: 490px;
  height: 100%; }
  .p-serviceTop--left {
    left: 0; }
  .p-serviceTop--right {
    right: 0; }
  .p-serviceTop__box {
    height: 410px;
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column; }
    .p-serviceTop__box--left {
      left: 0; }
    .p-serviceTop__box--right {
      right: 0; }
  .p-serviceTop__outline {
    margin-top: 30px;
    font-size: 2.8rem; }
.p-serviceDetail {
  margin: 100px auto 0;
  width: 770px; }
  .p-serviceDetailImg {
    width: 320px; }
  .p-serviceDetailText {
    margin-top: 30px; }

@media (max-width: 1024px) {
  .p-serviceTop {
    width: 90%; }
    .p-serviceTop__outline {
      font-size: 2.4rem; } }
.p-spot__aboutImg {
  width: 250px;
  margin-top: 112px; }
.p-spot__aboutText {
  font-size: 1.6rem;
  margin-top: 20px; }
.p-spot__step {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .p-spot__stepText {
    margin-top: 20px; }
  .p-spot__stepImg {
    max-width: 200px; }
  .p-spot__stepNumImg {
    width: 70px;
    margin-top: 40px; }
.p-spot__usage {
  margin: 80px 40px 0;
  border: solid 2px #fce409;
  padding: 20px 80px 30px 80px;
  background-color: #fff;
  position: relative; }
  .p-spot__usageUserImg {
    width: 70px;
    margin-top: 20px; }
  .p-spot__usageUserText {
    font-size: 1.8rem;
    margin-top: 10px; }
    .p-spot__usageUserTextStrong {
      color: #0cb4b7;
      font-weight: bold; }
  .p-spot__usageFlow {
    border-bottom: dotted;
    margin-top: 10px;
    padding-bottom: 20px; }
    .p-spot__usageFlowText {
      width: 25%; }
    .p-spot__usageFlowFirstImg {
      width: 10%;
      height: 100%; }
    .p-spot__usageFlowFirstTextLarge {
      font-size: 1.8rem;
      color: #0cb4b7;
      font-weight: bold; }
    .p-spot__usageFlowSecondImg {
      width: 9%;
      height: 100%;
      margin-left: 1%; }
    .p-spot__usageFlowSecondTextLarge {
      font-size: 1.8rem;
      color: #fce409;
      font-weight: bold; }
    .p-spot__usageFlowThirdText {
      color: #ff5353;
      font-weight: bold;
      font-size: 1.8rem;
      width: 80px; }
    .p-spot__usageFlowArrow {
      color: #fce409;
      padding: 0 2%; }

@media (max-width: 1024px) {
  .p-spot__stepItem {
    width: 24%; }
  .p-spot__stepImg {
    width: 100%; }
  .p-spot__usageFlowText {
    font-size: 1rem; }
  .p-spot__usageFlowFirstTextLarge {
    font-size: 1.6rem; }
  .p-spot__usageFlowSecondTextLarge {
    font-size: 1.6rem; }
  .p-spot__usageFlowThirdText {
    font-size: 1.6rem; } }
.p-userStudent {
  margin-top: 50px; }
  .p-userStudent__left {
    margin-left: 80px;
    width: 500px; }
    .p-userStudent__leftText {
      font-size: 1.6rem;
      margin-top: 60px;
      text-align: left; }
  .p-userStudent__studentsImg {
    width: 100%;
    margin-top: 25px; }
  .p-userStudent__right {
    width: 240px;
    margin-right: 100px; }
  .p-userStudent__graphImg {
    width: 100%;
    margin-top: 20px; }
.p-userGroup {
  padding: 20px 0 50px; }
  .p-userGroup__topImg {
    width: 50px; }
  .p-userGroup__topText {
    font-size: 2.4rem;
    color: #fce409;
    padding: 0 20px; }
  .p-userGroup__groupInfo {
    margin-top: 35px; }
  .p-userGroup__groupImg {
    width: 120px; }
  .p-userGroup__groupName {
    color: #fff; }
    .p-userGroup__groupNameLarge {
      font-size: 2.2rem;
      font-weight: bold; }
  .p-userGroup__list {
    width: 770px;
    margin: 40px auto 0; }

@media (max-width: 1024px) {
  .p-userStudent__left {
    margin-left: 10%;
    width: 55%; }
  .p-userStudent__right {
    width: 25%;
    margin-right: 10%; } }
.p-bottom__mobile {
  width: 270px;
  margin: 70px 40px 0; }
  .p-bottom__mobileImg {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
