@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  text-align: center;
  color: #7c7c7c;
  line-height: 1.6;
  background-color: #fff;
  font-size: 1.4rem;
  word-wrap: break-word;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/*-----リンクの設定----- */
a {
  color: #7c7c7c;
  text-decoration: none; }
  a:hover {
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none; }

ul {
  list-style: none; }

img {
  vertical-align: middle;
  border: none; }

button {
  border-style: none; }

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

button:focus, div:focus, img:focus, a:focus {
  outline: none; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  -moz-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
  box-shadow: 0 0 0px 1000px #f9f9f9 inset; }

/* Tablet Portrait */
/* Mobile Portrait */
.l-bg--top {
  width: 100%;
  height: 540px;
  background-color: #fbfbfb;
  background-image: url("../../images/top_bg.jpg");
  background-position: center top;
  background-repeat: no-repeat; }
.l-bg--overview {
  background-color: #5ed9db; }
.l-bg--spot {
  width: 50%;
  height: 550px; }
  .l-bg--spotLeft {
    background-image: url("../../images/theme_bg.png");
    background-position: left top;
    background-repeat: repeat none; }
  .l-bg--spotRight {
    position: absolute;
    right: 0;
    background-image: url("../../images/spot_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat; }
  .l-bg--spotDetail {
    background-color: #f9f8f3; }
.l-bg--regular {
  width: 50%;
  height: 550px; }
  .l-bg--regularLeft {
    background-image: url("../../images/regular_bg.jpg");
    background-position: right top;
    background-repeat: no-repeat; }
  .l-bg--regularRight {
    background-image: url("../../images/theme_bg.png");
    background-position: left top;
    background-repeat: repeat none; }
  .l-bg--regularDetail {
    background-color: #f9f8f3; }
.l-bg--recruit {
  width: 50%;
  height: 550px; }
  .l-bg--recruitLeft {
    background-image: url("../../images/theme_bg.png");
    background-position: left top;
    background-repeat: repeat none; }
  .l-bg--recruitRight {
    background-image: url("../../images/recruit_bg.jpg");
    background-position: right top;
    background-repeat: no-repeat; }
  .l-bg--recruitDetail {
    background-color: #f9f8f3; }
.l-bg--userGroup {
  background-color: #5ed9db; }
.l-bg--bottom {
  width: 100%;
  height: 540px;
  background-color: #fbfbfb;
  background-image: url("../../images/bottom_bg.png");
  background-position: center top;
  background-repeat: repeat none; }

.l-content {
  width: 980px;
  margin: 0 auto; }
  .l-content--half {
    padding: 0 60px; }

.l-content--section {
  padding: 40px 0; }

.row {
  margin: 0; }

.l-header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1; }
  .l-headerPc {
    width: 980px; }
    .l-headerPc__logoImg {
      width: 108px; }
    .l-headerPc__menuLink {
      padding: 20px 0;
      width: 120px;
      display: inline-block; }
      .l-headerPc__menuLink:hover {
        color: #fff;
        background-color: #5ed9db; }
      .l-headerPc__menuLink--download {
        display: inline-block;
        padding: 10px 0;
        width: 140px;
        font-size: 1.6rem;
        color: #666;
        background-color: #fce409;
        border-radius: 25px; }
        .l-headerPc__menuLink--download:hover {
          opacity: 0.7; }

.l-main {
  padding-top: 64px; }

.c-btn--download {
  width: 134px;
  margin-top: 30px; }

.c-label {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  position: relative; }
  .c-labelImg {
    width: 100%; }
  .c-labelText {
    color: #000;
    font-size: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 50px; }
  .c-label--featureText {
    color: #666;
    font-size: 2.6rem; }
  .c-label--small {
    width: 160px;
    height: 30px; }
    .c-label--smallText {
      font-size: 1.6rem;
      line-height: 30px; }

.c-title--md {
  font-size: 2.4rem;
  font-weight: bold;
  color: #0cb4b7; }

.p-top__left {
  width: 50%;
  padding: 130px 0; }
.p-top__slogan {
  font-size: 1.6rem;
  color: #7c7c7c; }
.p-top__logo {
  width: 339px;
  margin: 18px auto;
  margin-bottom: 0; }
  .p-top__logoImg {
    width: 100%; }
.p-top__download {
  margin: 0 90px; }
.p-top__label {
  margin-top: 30px; }

.p-overview__topText {
  color: #fff;
  font-size: 3rem;
  padding: 0 35px; }
  .p-overview__topTextLarge {
    color: #fce409;
    font-size: 3.4rem;
    font-weight: bold; }
.p-overview__strongImg {
  width: 120px; }
.p-overview__balloonTop {
  margin-top: 40px; }
.p-overview__balloonImg {
  width: 400px;
  height: 100%; }
.p-overview__bottomText {
  color: #fff;
  font-size: 2rem;
  padding: 0 23px; }
  .p-overview__bottomTextLarge {
    color: #fce409;
    font-size: 3.2rem; }
.p-overview__starImg {
  width: 50px; }

.p-feature {
  margin-top: 60px;
  padding: 0 112px; }
  .p-feature__img {
    width: 160px; }
  .p-feature__point {
    margin-top: 10px; }
    .p-feature__pointDesc {
      margin-top: 10px; }
  .p-feature__btnToBottom {
    margin-top: 20px; }

.p-spot {
  color: #fff;
  padding: 80px 0;
  text-align: left; }
  .p-spot__outline {
    margin-top: 30px;
    font-size: 2.8rem; }

/*# sourceMappingURL=style.css.map */
