.l-bg
  &--top
    width: 100%
    height: 540px
    background:
      color: #fbfbfb
      image: url("../../images/top_bg.jpg")
      position: center top
      repeat: no-repeat

  &--overview
    background-color: #5ed9db

  &--spot
    width: 50%
    height: 550px
    &Left
      background:
        // color: #fbfbfb
        image: url("../../images/theme_bg.png")
        position: left top
        repeat: repeat none
    &Right
      position: absolute
      right: 0
      background:
        // color: #fbfbfb
        image: url("../../images/spot_bg.jpg")
        position: center top
        repeat: no-repeat
    &Detail
      background-color: #f9f8f3

  &--regular
    width: 50%
    height: 550px
    &Left
      background:
        // color: #fbfbfb
        image: url("../../images/regular_bg.jpg")
        position: right top
        repeat: no-repeat
    &Right
      background:
        // color: #fbfbfb
        image: url("../../images/theme_bg.png")
        position: left top
        repeat: repeat none
    &Detail
      background-color: #f9f8f3


  &--recruit
    width: 50%
    height: 550px
    &Left
      background:
        // color: #fbfbfb
        image: url("../../images/theme_bg.png")
        position: left top
        repeat: repeat none
    &Right
      background:
        // color: #fbfbfb
        image: url("../../images/recruit_bg.jpg")
        position: right top
        repeat: no-repeat

    &Detail
      background-color: #f9f8f3

  &--userGroup
    background-color: #5ed9db

  &--bottom
    width: 100%
    height: 540px
    background:
      color: #fbfbfb
      image: url("../../images/bottom_bg.png")
      position: center top
      repeat: repeat none
