.l-bg
  &--top
    width: 100%
    height: 540px
    background:
      color: #fbfbfb
      image: url("../../images/top_bg.jpg")
      position: center top
      repeat: no-repeat
  &--overview
    background-color: #5ed9db
