.l-content
  max-width: 980px
  margin: 0 auto
  &--half
    padding: 0 60px

  &--sectionMd
    padding: 40px 0
  &--sectionLarge
    padding: 60px 0

.row
  margin: 0

@media (max-width: $breakpointTab)
  .l-content
    width: 100%
    margin: 0 auto
    padding: 0 20px
    // &--half
    //   padding: 0 60px

    &--sectionMd
      padding: 20px 0
    &--sectionLarge
      padding: 30px 0

@media (max-width: $breakpointMobile)
  .l-content
    max-width: 768px
    margin: 0 auto
    padding: 0 20px
    // &--half
    //   padding: 0 60px

    &--sectionMd
      padding: 20px 0
    &--sectionLarge
      padding: 30px 0
