.l-footer
  color: #ccc
  &__toTop
    border-top: solid 2px #ccc
    height: 100px
    &Btn
      &Img
        cursor: pointer
        width: 80px
        &:hover
          opacity: 0.7

  &__copyright
    border-top: solid 2px #ccc
    &Text
      font-size: 2.0rem
      padding: 50px 0 65px

  &__download
    display: none
    padding-top: 5px
    padding-bottom: 5px
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background-color: #fff
    &Text
      font-size: 1.6rem
    &Btn
      margin: 10px auto 0px
      width: 100%
      max-width: 400px
      @include flex
      @include flexItemsAround

@media (max-width: $breakpointTab)
  .l-footer
    &__download
      z-index: 12
      display: block

@media (max-width: $breakpointMobile)
  .l-footer
    &__toTop
      border-top: solid 1px #ccc
      height: 50px
      &Btn
        &Img
          width: 40px

    &__copyright
      border-top: solid 1px #ccc
      &Text
        font-size: 1.2rem
        padding: 15px 0 100px

    &__download
      &Text
        font-size: 1.2rem
