.l-header
  position: fixed
  left: 0
  right: 0
  background-color: #fff
  z-index: 11
  &__content
    width: 980px
    margin: 0 auto

  &__logo
    width: 110px
    &Img
      width: 100%

  &__menu
    &Item
      width: 130px
    &Link
      width: 100%
      padding: 20px 0
      display: inline-block
      &:hover
        color: #fff
        background-color: $bgThemeColor

  &Mobile__menuBtn
    display: none
    width: 70px
    height: 100%
    background-color: $bgThemeColor
    &Img
      width: 30px
      margin: 20px

@media (max-width: $breakpointTab)
  .l-header
    height: 70px
    &__content
      width: 100%

    &__logo
      height: 30px
      margin: 20px 0 20px 20px

    &__menu
      display: none
      border-top: 6px solid $bgThemeColor
      border-bottom: 6px solid $bgThemeColor
      width: 100%
      &Link
        font-size: 2rem
        padding: 10px 0
        &--download
          display: block
          padding: 10px 0
          color: $subColor
          &:hover
            background-color: $subColor

      &Item
        width: 100%
        border-bottom: 2px solid $bgThemeColor
        background-color: #fff

    &Mobile__menuBtn
      display: block
      position: absolute
      top: 0
      right: 0
