.l-header
  position: fixed
  left: 0
  right: 0
  background-color: #fff
  z-index: 1
  &Pc
    width: 980px
    &__logo
      &Img
        width: 110px
    &__menu
      &List
      &Link
        padding: 20px 0
        width: 130px
        display: inline-block
        &:hover
          color: #fff
          background-color: #5ed9db

@media (max-width: $breakpointMobile)
