.p-bottom
  padding: 70px 130px 0 80px
  @include flex
  @include flexItemsBetween
  @include flexItemsMiddle
  &__appLink
    position: relative
    &Android
      position: absolute
      left: 20px
      top: 150px
    &Iphone
      position: absolute
      left: 185px
      top: 150px
  &__phone
    max-width: 270px
    &Img
      width: 100%

  &Mobile
    &__phone
      display: none
      width: 100%
      @include flexItemsCenter
    &__appLink
      display: none
      margin-top: 30px
      width: 50%
      min-width: 200px
      &Img
        width: 100%

@media (max-width: $breakpointTab)
  .p-bottom
    padding: 30px 0
    @include flexItemsAround
    &__phone
      width: 40%
      margin-right: 5%

@media (max-width: $breakpointMobile)
  .p-bottom
    padding: 30px 0
    flex-direction: column
    &__phone
      display: none
      &Img
        width: 60%
        min-width: 240px
        margin-right: 0
    &__appLink
      display: none

    &Mobile
      &__phone
        display: block
      &__appLink
        display: block
