.p-feature
  &__title
    @include flex
    @include flexItemsCenter
  &__itemList
    margin: 30px auto 0px
    width: 756px
    @include flex
    @include flexItemsBetween
  &__img
    width: 160px
  &__point
    margin-top: 50px
    &Desc
      margin-top: 10px
  &__btnToBottom
    margin-top: 20px
    color: $themeColor

@media (max-width: $breakpointTab)
  .p-feature
    &__itemList
      margin: 30px auto 0px
      width: 100%
      @include flex
      @include flexItemsBetween
    &__img
      width: 160px
@media (max-width: $breakpointMobile)
