.p-feature
  &__itemList
    margin-top: 30px
    padding: 0 112px
  &__img
    width: 160px
  &__point
    margin-top: 50px
    &Desc
      margin-top: 10px
  &__btnToBottom
    margin-top: 20px
    color: $themeColor
