.p-jumbotron
  width: 100%
  height: 540px
  background:
    color: #fbfbfb
    image: url("../../images/top_bg.jpg")
    position: center top
    repeat: no-repeat
  overflow: hidden
  position: relative
  &__appLink
    width: 490px
    position: absolute
    &Item
      position: relative
    &Img
      position: relative
      top: 130px
    &Android
      display: block
      width: 135px
      position: absolute
      top: 280px
      left: 95px
    &Iphone
      display: block
      width: 135px
      position: absolute
      top: 280px
      left: 260px

  &__download
    width: 280px
    margin: 30px auto 0
    @include flex
    @include flexItemsBetween

@media (max-width: $breakpointTab)
  .p-jumbotron
    &__appLink
      width: 60%
      &Android
        right: 53%
      &Iphone
        left: 54%
