.p-overview
  &__top
    @include flex
    @include flexItemsCenter
    @include flexItemsBottom
    &Text
      color: #fff
      font-size: 3.0rem
      padding: 0 35px
      &Large
        color: $subColor
        font-size: 3.4rem
        font-weight: bold
      &Mobile
        display: none
        color: $textLightColor

  &__strong
    width: 120px
    &Img
      width: 100%

  &__balloon
    margin-top: 40px
    @include flex
    @include flexItemsBetween
    @include flexWrap
    &Img
      width: 400px
      height: 100%

  &__bottom
    @include flex
    @include flexItemsCenter
    @include flexItemsMiddle
    &Text
      color: #fff
      font-size: 2.0rem
      padding: 0 23px
      &Large
        color: $subColor
        font-size: 2.8rem

  &__star
    &Img
      width: 50px

  &__arrowDown
    color: $subColor

@media (max-width: $breakpointTab)
  .p-overview
    &__top
      &Text
        font-size: 2.2rem
        padding: 0 10px
        &Large
          font-size: 2.8rem

    &__strong
      width: 10%
      min-width: 60px

    &__balloon
      &Img
        width: 40%
        min-width: 250px
        margin-top: 10px

    &__bottom
      margin-top: 20px
      &Text
        padding: 0

@media (max-width: $breakpointMobile)
  .p-overview
    &__top
      @include flexItemsMiddle
      &Text
        display: none
        &Large
          font-size: 2.0rem
        &Mobile
          display: block

    &__strong
      min-width: 58px
      &Img

    &__balloon
      height: 60%
      margin-top: 20px
      @include flexItemsAround
      // flex-direction: column
      @include flexItemsMiddle
      &Img
        display: block
        width: 60%
        margin-top: 5px
        height: 100%
      &Mobile
        @include flex
        @include flexItemsAround

    &__bottom
      margin-top: 0
      @include flexItemsTop
      &Text
        font-size: 1.2rem
        &Large
          font-size: 1.6rem
    &__star
      &Img
        max-width: 50px
        width: 8%
