.p-overview
  &__top
    &Text
      color: #fff
      font-size: 3.0rem
      padding: 0 35px
      &Large
        color: $subColor
        font-size: 3.4rem
        font-weight: bold
  &__strong
    &Img
      width: 120px

  &__balloon
    &Top
      margin-top: 40px
    &Img
      width: 400px
      height: 100%

  &__bottom
    &Text
      color: #fff
      font-size: 2.0rem
      padding: 0 23px
      &Large
        color: $subColor
        font-size: 3.2rem

  &__star
    &Img
      width: 50px
