.p-overview
  &__top
    &Text
      color: #fff
      font-size: 3.0rem
      padding: 0 35px
      &Large
        color: $subColor
        font-size: 3.4rem
        font-weight: bold
      &Mobile
        display: none

  &__strong
    width: 120px
    &Img
      width: 100%

  &__balloon
    &Top
      margin-top: 40px
      @include flex
      @include flexItemsAround
      @include flexWrap

    &Img
      width: 400px
      height: 100%

  &__bottom
    @include flex
    @include flexItemsCenter
    @include flexItemsMiddle

    &Text
      color: #fff
      font-size: 2.0rem
      padding: 0 23px
      &Large
        color: $subColor
        font-size: 2.8rem

  &__star
    &Img
      width: 50px

  &__arrowDown
    color: $subColor

@media (max-width: $breakpointTab)
  .p-overview
    &__top
      &Text
        font-size: 2.4rem
        &Large
          color: $subColor
          font-size: 2.8rem
        &Mobile
          display: none

    &__strong
      width: 80px
      &Img
        margin-top: 10px

    &__balloon
      margin-top: 20px
      flex-direction: column
      @include flexItemsMiddle
      &Img
        margin-top: 10px

    &__bottom
      margin-top: 20px
      &Text
        color: #fff
        font-size: 2rem
        padding: 0 23px
        &Large
          color: $subColor
          font-size: 2.8rem

    &__star
      &Img
        width: 50px

    &__arrowDown
      color: $subColor


@media (max-width: $breakpointMobile)
  // .p-overview
  //   &__top
  //     &Text
  //       display: none
  //       &Mobile
  //         display: block
  //
  //       &Large
  //         font-size: 1.6rem
  //
  //   &__strongImg
  //     width: 44px
  //
  //   &__balloon
  //     margin-top: 5px
  //     &Img
  //       width: 250px
  //       height: 100%
