.p-service
  &Top
    color: $textLightColor
    padding: 80px 0
    text-align: left
    position: absolute
    width: 490px
    height: 100%
    &--left
      left: 0
    &--right
      right: 0

    &__box
      height: 410px
      position: absolute
      right: 0
      @include flex
      @include  flexItemsBetween
      flex-direction: column
      &--left
        left: 0
      &--right
        right: 0

    &__outline
      margin-top: 30px
      font-size: 2.8rem
  &Detail
    margin: 100px auto 0
    width: 770px
    @include flex
    @include  flexItemsBetween
    &Point
    &Img
      width: 320px
    &Text
      margin-top: 30px

  &MobileTop__detail
    display: none

@media (max-width: $breakpointTab)
  .p-service
    &Top
      width: 90%
      &__outline
        font-size: 2.4rem
    &Detail
      width: 100%
      @include  flexItemsAround
      &Point
        width: 40%
      &Img
        width: 100%

@media (max-width: 768px)
  .p-service
    &Top
      &__outline
        font-size: 1.8rem
      &__detail
        display: none

    &MobileTop__detail
      display: block

@media (max-width: $breakpointMobile)
  .p-service
    &Top
      width: 100%
      padding: 20px
      position: relative
      &__box
        position: relative
        height: 100%
        &--left
        &--right
      &__outline
        margin-top: 15px

    &Detail
      flex-direction: column
      margin-top: 55px
      // margin: 100px auto 0
      // width: 770px
      // @include flex
      // @include  flexItemsBetween
      &Point
        width: 100%
        margin-top: 30px
      &Img
        width: 200px

        // width: 320px
      &Text
        font-size: 1.4rem
        margin-top: 10px
        // margin-top: 30px
