.p-spot
  &__about
    &Img
      width: 250px
      margin-top: 112px
    &Text
      font-size: 1.6rem
      margin-top: 20px

  &__step
    margin-top: 50px
    &Text
      margin-top: 20px
    &Item
      max-width: 200px
    &Img
      width: 200px
    &Num
      width: 70px
      margin-top: 40px

  &__usage
    margin: 80px 40px 0
    border: solid 2px $subColor
    padding: 20px 80px 30px 80px
    background-color: #fff
    position: relative
    &User
      &Img
        width: 70px
        margin-top: 20px
      &Text
        font-size: 1.8rem
        margin-top: 10px
        &Strong
          color: $themeColor
          font-weight: bold
    &Flow
      border-bottom: dotted
      margin-top: 10px
      padding-bottom: 20px
      &Text
        width: 190px
      &First
        &Img
          width: 80px
          height: 100%
          margin-right: 15px
        &TextLarge
          font-size: 1.8rem
          color: $themeColor
          font-weight: bold
      &Second
        &Img
          width: 75px
          height: 100%
          margin-left: 6px
        &TextLarge
          font-size: 1.8rem
          color: $subColor
          font-weight: bold
      &ThirdText
        color: #ff5353
        font-weight: bold
        font-size: 1.8rem
        width: 80px
      &Arrow
        color: $subColor
        padding: 0 15px

@media (max-width: $breakpointTab)
@media (max-width: $breakpointMobile)
