.p-user
  &Student
    margin-top: 50px
    &__title
      @include flex
      @include flexItemsCenter
    &__content
      @include flex
      @include flexItemsBetween
    &__left
      margin:
        left: 80px
      width: 500px
      &Text
        font-size: 1.6rem
        margin-top: 60px
        text-align: left
    &__studentsImg
      width: 100%
      margin-top: 25px
    &__right
      width: 240px
      margin:
        right: 100px
        top: 20px
    &__graphImg
      width: 100%
    &Mobile
      display: none
      width: 100%
      margin-top: 20px
      &__graphImg
        width: 200px
      &__leftText
        display: none
        text-align: center

  &Group
    padding-top: 20px
    padding-bottom: 50px
    &__top
      @include flex
      @include flexItemsCenter
      @include flexBottom
      &Img
        width: 50px
        height: 100%
      &Text
        font-size: 2.4rem
        color: $subColor
        padding: 0 20px
    &__group
      &Info
        margin-top: 35px
      &Img
        width: 120px
      &Name
        color: #fff
        &Large
          font-size: 2.2rem
          font-weight: bold
    &__list
      width: 770px
      margin: 40px auto 0
      @include flex
      @include flexItemsBetween

@media (max-width: $breakpointTab)
  .p-user
    &Student
      &__left
        margin-left: 10%
        width: 55%
        &Text
          font-size: 1.4rem
      &__right
        width: 25%
        margin:
          right: 10%
          top: 5%
    &Group
      &__list
        max-width: 770px
        width: 100%

@media (max-width: $breakpointMobile)
  .p-user
    &Student
      &__content
        flex-direction: column
        @include flexItemsAround
      &__left
        width: 100%
        margin-left: 0
        &Text
          margin-top: 20px
          display: none
        &studentsImg
          margin-top: 20px
      &__right
        display: none
      &Mobile
        display: block
        &__leftText
          display: block

    &Group
      &__top
        &Text
          font-size: 1.4rem
        &Img
          max-width: 50px
          width: 8%
      &__group
        @include flex
        @include flexItemsCenter
        @include flexItemsMiddle
        &Info
          margin-top: 0
          margin-left: 5%
