.c-label
  width: 300px
  &Img
    width: 100%
  &--service
    width: 160px
  &--spotUsage
    &Img
      position: absolute
      width: 500px
      margin: 0 auto
      left: 0
      right: 0
      top: -26px
  &--userStudent
    width: 420px


@media (max-width: $breakpointTab)
@media (max-width: 768px)
  .c-label
    &--spotUsage
      width: 100%
      &Img
        position: relative
        // position: absolute
        width: 70%
        min-width: 250px
        top: 0
        // margin: 0 auto
        // left: 0
        // right: 0
        // top: -26px
      // width: 420px


@media (max-width: $breakpointMobile)
  .c-label
    width: 180px
    &Img
      // width: 100%
    &--service
      width: 25%
      min-width: 85px
    &--spotUsage
      width: 100%
      &Img
        // position: absolute
        // width: 50%
        // min-width: 250px
        // margin: 0 auto
        // left: 0
        // right: 0
        // top: -26px
    &--userStudent
      width: 250px
      // width: 420px
