.slick-dots li.slick-active button:before
  color: $themeColor

.slick-prev:before
  content: url(../../images/userGroup_arrow_prev.png)

.slick-next:before
  content: url(../../images/userGroup_arrow_next.png)

.slick-prev, .slick-next
  width: 18px
  top: 30%

.slick-prev
  left: 0px

.slick-next
  right: 10px

.slick-initialized .slick-slide
  margin: 20px 0px

@media (max-width: 768px)
  .s-userGroup__list  .p-userGroup__group
    display: flex
