.c-title
  &--large
  &--md
    font-size: 2.4rem
    font-weight: bold
    color: $themeColor
    position: relative

  &--serviceDetail
    font-size: 2.4rem
    font-weight: bold
    color: $themeColor
    border: solid 2px
    padding: 15px 0
    width: 315px
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    margin-top: 5px
    &Over
      font-size: 1.4rem
      background-color: #f9f8f3
      position: absolute
      top: -18%
      left: 0
      right: 0
      margin: 0 40px
      font-weight: normal
      color: $textDarkColor

@media (max-width: $breakpointTab)
  .c-title
    &--serviceDetail
      font-size: 1.6rem
      border: solid 1px
      width: 220px
      &Over
        font-size: 1.2rem
        margin: 0 6%

@media (max-width: $breakpointMobile)
  .c-title
    &--md
      font-size: 1.6rem
